@model  WebServer.ViewModels.ResultViewModel
@{
    ViewBag.Title = "AddWarehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Ware house</h2>
<p> @Model.result</p>

<input type="button" id="Return" value="Back to Admin Control Panel">

<script>
    var btn1 = document.getElementById("Return");
    btn1.addEventListener("click", goBack);


    function goBack() {
        window.location.href = '/Admin/Secure?authorized=1';
    }
</script>