
@{
    ViewBag.Title = "IncorrectLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Incorrect Login</h2>

<p>The credentials you entered were incorrect, please try again</p>

<p><input type="button" id="Return" value="Back to Login Page"></p>

<script>
    var btn1 = document.getElementById("Return");
    btn1.addEventListener("click", goBack);

    function goBack() {
        window.location.href = '/Admin/Index';
    }
</script>