@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    One Amazoom Way<br />
    Vancouver, BC<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Amazoom.com">Support@Amazoom.com</a><br />
   
</address>