@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Amazoom!</h1>
    <p class="lead">Click Here to go to order screen</p>
    <p><a href="/Order" class="btn btn-primary btn-lg">Order &raquo;</a></p>
</div>
